@font-face {
    font-family: Roboto;
    src: url(src/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Bold;
    src: url(src/font/Roboto-Bold.ttf);
}

:root{
    --sidebarColor: #1992d4;
    --headerColor: #fff;
    --contentColor: #e2e8f0;
    --hoverColor: #302525;
}

body{
    height: 100vh;
    width: 100vw;
}


.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    z-index: 1;
    background-color: var(--headerColor);
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 50px;
    box-shadow: 0px 0px 8px gray;
}

.left{
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.right{
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
}

.search-ctn{
    padding: 0;
    margin: 0;
    display: grid;
    place-items: flex-start;
}

.search-ctn label{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.search-ctn label img{
    width: 25px;
}

#search{
    font-family: Roboto, sans-serif;
    width: 40vw;
    padding: 0px 10px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: var(--contentColor);
}

.welcome{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    place-content: center;
    
}

.welcome p{
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.welcome-header{
    font-family: RobotoBold, sans-serif;

    font-size: 1.25rem;
}

.welcome img{
    grid-row: 1/-1;
    border-radius: 50%;
    border: 2px solid gray;
    width: 60px;
}


.profile{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    place-content: flex-start;
    justify-content: center;
  
    gap: 20px;
}

.profile > .pic{
    width: 40px;
    border: 2px solid gray;
    border-radius: 100%;
}

.profile p{
    font-weight: 700;
}

.header-btn{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    place-content: flex-start;
    justify-content: center;
    gap: 20px;
}

.header button{
    background-color: var(--sidebarColor);
    color: var(--headerColor);
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
}

.header button:hover{
    cursor: pointer;
    background-color: #0f77af;
}

.header button:active{
    background-color: #135f88;
}

.sidebar{
    z-index: 2;
    color: #fefefe;
    grid-row: 1/-1;
    background-color: var(--sidebarColor);
    display: grid;
    grid-template-rows: repeat(3, 100px);
}

.logo{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-content: flex-start;
    padding: 0px 25px;
    font-family: RobotoBold, sans-serif;
    font-weight: 700;
    font-size: 20px;
    gap: 5px;
}

.logo img{
    width: 40px;
}

.nav {
    display: grid;
    gap: 80px;
}

.nav-top{
    display: grid;
    gap: 20px;
}

.nav-bottom{
    display: grid;
    gap: 20px;
    
}

.nav label{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-content: flex-start;
    padding-left: 30px;
    font-weight: 700;
    gap: 20px;
}

.nav label:hover{
    cursor: pointer;
    transition: .5ms ease;
    transform: scale(1.1);
}


.content{
    padding: 5px 10px;
    gap: 15px;
    background-color: var(--contentColor);
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.left-content h1, .right-content h1{
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: 1/-1;
}

.left-content{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    display: grid;
    gap: 15px;
}

.grid-item{
    display: grid;
    grid-template-rows: auto auto;
    padding: 30px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border-left: 10px solid var(--sidebarColor);
    background-color: var(--headerColor);
    box-shadow: 0px 1px 5px gray;
}



.text-content p{
    margin: 0;
    padding: 0;
}

.text-content > .proj-title{
    grid-column: 1/-1;
    font-weight: 700;
    font-size: 1.10rem;
    margin-bottom: 5px;
}

.btn-content{
    display: grid;
    grid-auto-flow: column;
    place-items: flex-end;
    place-content: flex-end;
    gap: 15px;
}

.btn-content img{
    width: 28px;
}

.right-content{
    display: grid;
    grid-template-columns: minmax(100px, 300px);
    grid-template-rows: repeat(auto-fit, 1fr);
 
}

.announcement{
    display: grid;
    gap: 15px;
    place-content: flex-start;
}

.ann-content{
    display: grid;
    background-color: var(--headerColor);
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    padding: 30px;
}

.ann-content p{
    padding: 0;
    margin: 0;
}

.ann-content > .announce-title{
    font-weight: 700;
    margin-bottom: 5px;
}

.line{
    margin: 20px 0px;
    height: 1px;
    background-color: gray;
}

.svg{
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(231deg) brightness(112%) 
}
