@font-face {
    font-family: Roboto;
    src: url(src/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Bold;
    src: url(src/font/Roboto-Bold.ttf);
}


:root{
    --sidebarColor: #1992d4;
    --headerColor: #fff;
    --contentColor: #e2e8f0;
    --hoverColor: #302525;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    background-color: var(--headerColor);
}

.sidebar{
    color: #fefefe;
    grid-row: 1/-1;
    background-color: var(--sidebarColor);
    display: grid;
    grid-template-rows: repeat(3, 100px);
}

.logo{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-content: flex-start;
    padding: 0px 25px;
    font-family: RobotoBold, sans-serif;
    font-weight: 700;
    font-size: 20px;
    gap: 5px;
}

.logo img{
    width: 40px;
}

.nav {
    display: grid;
    gap: 80px;
}

.nav-top{
    display: grid;
    gap: 20px;
}

.nav-bottom{
    display: grid;
    gap: 20px;
    
}

.nav label{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-content: flex-start;
    padding-left: 30px;
    font-weight: 700;
    gap: 20px;
}

.nav label:hover{
    cursor: pointer;
    transition: .5ms ease;
    transform: scale(1.1);
}


.content{
    background-color: var(--contentColor);
}

.svg{
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(231deg) brightness(112%) 
}